.kanban-app {
  --app-min-width: 560px;
  --app-control-panel-height: 56px;
  --layout-border-width: 1px;
  --control-border-width: 1px;
  --control-padding-horizontal: 16px;
  --theme-color-background-primary: white;
  --theme-color-background-secondary: lightgrey;
  --theme-color-background-overlay: rgba(0, 0, 0, .4);
  --theme-color-layout-border: black;
  --theme-color-control-accent: black;
  --theme-color-control-highlight: gray;
  --theme-color-control-background: lightgrey;
  --theme-color-text: black;
  --theme-color-text-inverted: white;
  
  display: grid;
  grid-template-rows: calc(100% - var(--app-control-panel-height)) var(--app-control-panel-height);
  height: 100vh;
  min-width: var(--app-min-width);
  position: relative; // anchoring task lightbox
  background-color: var(--theme-color-background-primary);
  color: var(--theme-color-text);

  &__board {

  }
  
  &__controls {
    border-top: var(--layout-border-width) solid var(--theme-color-layout-border);
  }
}
