.board {
  height: 100%;
  overflow: auto;
  
  &__wrapper {
    display: grid;
    grid-template-rows: 100%;
    grid-auto-columns: minmax(320px, 560px);
    grid-auto-flow: column;
    height: 100%;
  }
  
  &__stage {

    & + & {
      border-left: var(--layout-border-width) solid var(--theme-color-layout-border);
    }
  }
}
