.stage {
  --stage-header-height: 48px;
  display: grid;
  grid-template-rows: max-content calc(100% - var(--stage-header-height));
  grid-template-columns: 100%;
  
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--stage-header-height);
    padding: 12px 8px;
    border-bottom: var(--layout-border-width) solid var(--theme-color-layout-border);
  }

  &__title {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
  }
  
  &__tasks {
    padding: 12px;
    list-style: none;
    overflow: auto;
  }

  &__task {

    & + & {
      margin-top: 8px;
    }
  }
}
