.task-view {
  --task-view-padding-horizontal: 24px;
  
  border: var(--layout-border-width) solid var(--theme-color-layout-border);
  background-color: var(--theme-color-background-primary);
  
  &__task-stage {
    display: flex;
    align-items: center;
    padding: 12px var(--task-view-padding-horizontal);
    background-color: var(--theme-color-background-secondary);
    border-bottom: var(--layout-border-width) dashed var(--theme-color-layout-border);
  }
  
  &__task-stage-title {
    font-weight: bold;
  }
  
  &__task-stage-controls {
    margin-left: auto;
  }
  
  &__form {
    padding: 24px var(--task-view-padding-horizontal);
  }
  
  &__field {
    display: block;
    max-width: 100%;
    width: 400px;
    height: 80px;
    background-color: var(--theme-color-control-background);
    padding: 12px var(--control-padding-horizontal);
    border: var(--control-border-width) solid transparent;
    
    &:hover {
      border-color: var(--theme-color-control-highlight);
    }
    
    &:focus {
      outline-color: var(--theme-color-control-accent);
    }
    
    & + & {
      margin-top: 12px;
    }
  }
  
  &__title {
    
  }
  
  &__description {
    height: 120px;
  }
  
  &__save-button {
    margin-top: 24px;
  }
}
