.task-card {
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  background-color: var(--theme-color-background-secondary);
  
  &__stage-controls {
    margin-top: 16px;
    margin-left: auto;
  }
  
  &:hover {
    box-shadow: 0 0 8px var(--theme-color-control-highlight);
  }
}
