.task-stage-controls {
  --stage-control-color: var(--theme-color-background-primary);
  
  &__button {
    border: var(--control-border-width) solid transparent;
    cursor: pointer;
    
    &--previous {
      background: none;
      border-color: var(--stage-control-color);
    }
    
    &--next {
      background-color: var(--stage-control-color);
    }
    
    &:focus {
      position: relative; // for z-index
      outline-color: var(--theme-color-control-accent);
      z-index: 1; // show outline over the sibling edge
    }
  }
}
