.button {
  padding: 4px var(--control-padding-horizontal);
  background-color: var(--theme-color-control-accent);
  border: none;
  color: var(--theme-color-text-inverted);
  cursor: pointer;
  
  &:focus {
    outline-color: var(--theme-color-control-highlight);
  }
}
