.lightbox {
  --lightbox-screen-color: var(--theme-color-background-overlay);
  --lightbox-close-button-size: 24px;
  --lightbox-close-button-offset: 8px;
  --lightbox-close-button-field-size: 8px;
  --lightbox-close-button-field-position: calc(-1 * var(--lightbox-close-button-field-size));

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--lightbox-screen-color);
  z-index: 100;
  
  .lightbox__screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__container {
    position: relative; // anchors close button
    z-index: 2;
  }

  &__close-button {
    width: var(--lightbox-close-button-size);
    height: var(--lightbox-close-button-size);
    position: absolute; // also anchors "force field"
    bottom: calc(100% - var(--lightbox-close-button-offset));
    left: calc(100% - var(--lightbox-close-button-offset));
    background-color: var(--theme-color-control-accent);
    border: var(--control-border-width) solid transparent;
    border-radius: 50%;
    color: var(--theme-color-text-inverted);
    cursor: pointer;

    // "force field" (enlarges interactive area for the button)
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: var(--lightbox-close-button-field-position);
      bottom: var(--lightbox-close-button-field-position);
      left: var(--lightbox-close-button-field-position);
      right: var(--lightbox-close-button-field-position);
    }

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      background-color: var(--theme-color-background-primary);
      border-color: currentColor;
      color: var(--theme-color-control-accent);
    }
  }
}
