html, 
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem; /* 16px */ 
}

applet, object, iframe,
blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, 
aside, canvas, details, embed,
figure, figcaption, hgroup,
menu, nav, output, ruby, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, 
p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: inherit;
}

textarea {
  resize: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
